<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
	<div class="navbar-fixed-top">
		<div class="navbar">
			<div class="container">
				<div class="navbar-brand">
					<%= link_to "TreeBook", root_url %>
				</div>
			
				<ul class="nav nav-pills">
					<li><%= link_to "All Statuses", statuses_path %></li>
					<li><a href="#">Link</a></li>
				</ul>
			</div>

		</div>
	</div>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
